<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adidasler Prolehics Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light mb40" id="mainNav" th:fragment="navigation" style="background: #FF9800; font-weight: 700;">
			<div class="container">
				<a class="navbar-brand" href="/adidasler/home">Adidasler Prolethics :: eTDM</a>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">									
						<li class="nav-item br"><a class="nav-link"
							href="/adidasler/athlete/list">Athletes</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/adidasler/elite/list">Elite Athletes</a></li> 			
					</ul>
				</div>
			</div>
	</nav>
	<div class="container">
		<!-- Navigation -->
		<h1>Welcome to the eTalanet Data Manager (eTDM)</h1>
		<p>Here at Adidasler Prolethics, we manage the best!</p>
		<p>Calling on All Pro-Athletes who are the top of their games - come join us, and be part of our excellent tradition of world champions.</p>
		<p>Lorem ipsum dolor sit amet, minim graeco deterruisset et vel, ex per graecis definiebas. Dicam veniam voluptatibus sea in. Ridens vulputate ullamcorper cu qui, te quo ridens assentior vulputate, usu eu malis insolens dissentias. Te nam eligendi dissentiunt. Vix ad odio voluptua, ut nec ludus iracundia, no dico delenit vim. An minim reprimique mei, ut copiosae democritum his.</p>
	</div>	
			<footer style="background:#eee; padding:15px 0" th:fragment="footer1">
		<div class="container">
			CS425 - solution by Lamhot <span class="float-right">March 2020 </span>
		</div>
	</footer>
</body>
</html>